{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% set entry = craft.entries.section( 'home' ).first() %}
{% set heroImage = entry.heroImage.first() %}
{% set title = entry.title %}

{% extends "_layout" %}

{% block header %}

    <header {% if craft.entries.section( 'home' ) %}{% if heroImage %}class="hero-full-screen" style="background: url('{{ heroImage.getUrl('hero') }}') 85% center no-repeat; background-size: cover;"{% endif %}{% endif %}>
    	{% include 'pieces/nav' %}
    </header>

{% endblock %}

{# {% block header %}
	{{ parent() }}

    <div {% if craft.entries.section( 'home' ) %}class="hero-full-screen" style="background: url('{{ heroImage.getUrl('hero') }}') 50% no-repeat; background-size: cover;"{% endif %}>
    </div>

{% endblock %} #}

{% block content %}

	<div class="row align-center home-intro">
		<div class="column small-12 medium-6 large-5">
			<h1>{{ entry.heading }}</h1>
			<h2>{{ entry.subheading }}</h2>
		</div>
		<div class="column small-12 medium-6 large-5">
			<div>{{ entry.copy }}</div>
		</div>
	</div>

	<div id="masonry-grid" class="home-grid">
		{% for section in entry.sectionLinks %}
			{% if section.type.handle('sectionLink') %}

				{% set sectionImage = section.image.first() %}
				{% set sectionLink = section.linkUrl.first() %}

				{% if sectionLink | length %}
					<div class="masonry-item home-grid-item small-12 medium-6{# home-grid-item small-5 column #}">
						<a href="{{ sectionLink.getUrl() }}" class="link-underline">
							<img src="{{ sectionImage.url }}">
						</a>
						<div class="section-content small-10 medium-8">
							<h3>{{ section.pageDescription }}</h3>
							<p>{{ section.excerpt }}</p>
							<div class="link-underline">
								<a href="{{ sectionLink.getUrl() }}">{{ section.linkText }}</a>
							</div>
						</div>
					</div>
				{% endif %}

			{% endif %}
		{% endfor %}
	</div>

	<div class="testimonial text-center row align-center">
		<div class="column small-12 medium-8 large-6">
		<div class="testimonial-quote">
			{{ entry.testimonial }}
		</div>

			{% set link = entry.linkUrl.first() %}
			{% if link | length %}
				<div class="link-underline">
					<a href="{{ link.getUrl() }}">{{ entry.linkText }}</a>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="instagram-feed text-center">
		<div class="small-12"><h3>{{ entry.instagramHeading }}</h3></div>
		{% include 'pieces/instagram' %}
	</div>

{% endblock %}

{% block footerScripts %}
	{{ parent() }}
 	<script>
	$(document).ready(function(){
		var feed = new Instafeed({
		    get: 'user',
		    limit: 5,
		    userId: '{{ socialMedia.instagramId }}',
		    accessToken: '{{ socialMedia.instagramAccessToken }}',
		    clientId: '5ff1d8068b4a47ccb4836a0dbd7c15e1',
		    {% verbatim %}
		    template: '<div class="column small-6 medium-2"><a href="{{link}}" target="_blank"><img src="{{image}}" /></a></div>',
		    {% endverbatim %}
		});
		feed.run();
	});
	</script>
{% endblock %}